<router-outlet></router-outlet>
<app-home></app-home>
 <!-- <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="hstack gap-3">
              <div class="p-2">
                <img class="img-fluid d-block mx-auto" src="../../../assets/Handball.png" height="700" width="400"
                  alt="...">
              </div>
              <div class="p-2">
                <img class="img-fluid d-block mx-auto" src="../../../assets/Football.png" height="700" width="400"
                  alt="...">
              </div>
              <div class="p-2">
                <img class="img-fluid d-block mx-auto" src="../../../assets/Group 467.png" height="700" width="400"
                  alt="...">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="hstack gap-3 d-flex justify-content-center">
              <div class="p-2">
                <img class="img-fluid d-block mx-auto" src="../../../assets/Calisthenics.png" height="550" width="350"
                  alt="...">
              </div>
              <div class="P-2">
                <img class="img-fluid d-block mx-auto" src="../../../assets/BAdminton.png" height="550" width="350"
                  alt="...">
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
