@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.my-container {
  background: url(../../../assets/Background.png);
  background-size: cover;
  min-height: 40rem;
  background-repeat: no-repeat;
  padding-top: 0rem;
  padding-bottom: 40px;
}

ul li a {
  color: white;
  text-align: justify;
  font-weight: 500;
}

ul li a:hover {
  color: yellow;
  text-decoration: underline;


}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

.carousel-item img:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s infinite;

}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.amenities img:hover {
  /* transform: translateY(-10px);
  animation: bounce 0.5s infinite; */
  transform: scale(1.025);
  border-radius: .375rem;
  box-shadow: 0 0 2rem rgba(0,0,0,.25);
  transform: translateY(-3%);
}

h2 {
  font-size: 40px;
  line-height: 70px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.card-1 {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #ffefff 100%);
  height: 350px;
}

.vector_img img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 67%;
  left: 70%;
}
.button {
  border-radius: 10px;
  background-color: #0c08f0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.col-card{
  position:relative;
}
.col-card:hover{
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}
.card-text{
  text-align: justify;
  text-justify: inter-word;
}
