@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
header{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.fixed {
  background: #a8ff78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  transition: 0.8s linear;
  top: 0px;

}

.nofixed {

  position: static;
  transition: 0.8s linear;
  top: -50px;

}
header nav{
display: flex;
justify-content: space-between;
background: no-repeat center center scroll;
background-size: cover;
align-items: center;
}
ul li a {
  color:black;
  text-align: justify;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

ul li a:hover {
  color: yellow;
  text-decoration: underline;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

.carousel-item img {
  background-size: cover;
  max-height: 50rem;
  background-repeat: no-repeat;
  padding-top: 0rem;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.amenities img:hover {
  transform: scale(1.10);
  transition: all 1s ease;
  z-index: 999;
}

h2 {
  font-size: 40px;
  line-height: 70px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: 0;
  display: block;
  line-height: 2;
  max-width: 900px;
  margin: 30px auto;
  text-align: justify;
  text-justify: inter-word;
}

.comments-card {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #ffefff 100%);
  max-height: 60vh;
}

.card1 {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #ffefff 100%);
  max-height: 100vh;
}

.vector_img img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 67%;
  left: 70%;
}

.button {
  border-radius: 10px;
  background-color: #0c08f0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.col-card {
  position: relative;
}

.col-card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.card-text {
  text-align: justify;
  text-justify: inter-word;
}

.partners img:hover {
  transform: scale(1.20);
  transition: all 1s ease;
  z-index: 999;
}

footer {
  background: url(../../../assets/footer.png);
  background-size: cover;
  min-height: 70vh;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 40px;
  opacity: 0.7;
}

.footer-info {
  background-image: linear-gradient(to right top, #070e1a, #152127, #283233, #3e4341, #545553);
  min-height: 70vh;
  min-width: 20rem;
  opacity: 0.6;
}

.footer-text {
  position: absolute;
  top: 30vh;
  left: 40rem;
  color: white;
  min-width: 10rem;
}

.footer-next {
  background-color: #070450;
}

.carousel-control-prev-icon {
  background-color: rgb(27, 24, 24);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 15vh;
  padding: 15px;
  margin: 2rem;
}

.carousel-control-next-icon {
  background-color: rgb(27, 24, 24);
  color: rgb(0, 0, 0);
  position: absolute;
  top: 15vh;
  border-radius: 50%;
  padding: 15px;
  margin: 2rem
}

.about-img {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-img img {
  max-width: 100%;
  height: auto;
  display: block;
  display: block;
}
