<div class="my-container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/WhatsApp_Image_2024-01-31_at_10.31 1.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger p-1 m-1 btn-sm rounded-5">Subscription</button>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button type="button" class="btn btn-primary btn-lg ms-2">Book Now</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h2>About Us</h2>
  </div>
</div>
<section>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-sm-12 col-lg-6 col-xl-6 col-xxl-6 col-md-6">
        <img class="img-fluid d-block mx-auto" height="100" width="400" src="../../../assets/image-7.png" alt="">
      </div>
      <div class="col-sm-12 col-lg-5 col-xl-5 col-xxl-5 col-md-5">
        <p class="p-2 py-2 m-2 lh-base">
          <strong>VISION</strong>: We aim to be the leading Sports Infrastructure and Education company in
          India, empowering
          India to become a sporting powerhouse. <br>
          <strong>MISSION</strong>: We want to provide young footballers across the country with the best
          sporting facilities
          and education to hone their game, thus enabling and encouraging them to embrace a sporting
          culture.
          Score was born out of the passion of our founding Directors. This passion is at the cornerstone
          of
          everything we do. Our directors Pranav and Vidur have been actively involved in the sporting
          scene
          in India and abroad. Score is their first step in helping and developing sports in India from
          the
          grassroots level. Score is constantly evolving and with the technical backing of MarwahSphere,
          aims
          to be the premier player in the Sports Infrastructure and Education sector in India <span
            class="text-info">.....more</span>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h2>Sports</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="hstack gap-3">
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Handball.png" height="700" width="400"
                alt="...">

            </div>
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Football.png" height="700" width="400"
                alt="...">

            </div>
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Group 467.png" height="700" width="400"
                alt="...">

            </div>
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Calisthenics.png" height="700" width="400"
                alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="hstack gap-3">
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Handball.png" height="700" width="400"
                alt="...">

            </div>
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Football.png" height="700" width="400"
                alt="...">

            </div>
            <div class="p-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/Group 467.png" height="700" width="400"
                alt="...">

            </div>
            <div class="P-2">
              <img class="img-fluid d-block mx-auto" src="../../../assets/BAdminton.png" height="700" width="400"
                alt="...">

            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h2>Events</h2>
  </div>
</div>
