@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.my-container {
  background: url(../../../assets/Background.png);
  background-size: cover;
  min-height: 40rem;
  background-repeat: no-repeat;
  padding-top: 0rem;
  padding-bottom: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;

}

.carousel-item img:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s infinite;

}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.amenities img:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s infinite;
}

h2 {
  font-size: 40px;
  line-height: 70px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: -2.5px;
  font-family: 'Roboto', sans-serif;
}
p{
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
